
.color0{background-color:#CDC1B4; color:#786E64}
.color2{background-color:#EEE4DA; color:#786E64}
.color4{background-color:#EDE0C8;}
.color8{background-color:#F2B179;}
.color16{background-color:#F59663;}
.color32{background-color:#F67C5F;}
.color64{background-color:#F55F3C;}
.color128{background-color:#EDCE71;}
.color256{background-color:#EDCC61;}
.color512{background-color:#ECC850;}
.color1024{background-color:#EEC443;}
.color2048{background-color:#E9B700;}